{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Nicolás Pavón Gómez</h2>   
        <p>Nacido en la ciudad de cali el 16 de julio de 1997, Estudiante de Ingeniería Electrónica de la Universidad Nacional de Colombia.</p>
        <p>Su desarrollo profesional lo ha llevado a los temas relacionados con la Inteligencia Artificial, Machine Learning y Visión por Computador</p>
    </div>
</div>
{% endblock %}
