{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Monitoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Analítica de datos-Machine Learning-Visión por Computador</p>
        <br>
        <p><b>Teléfono:</b> +57 316-578-2942</p>
        <p><b>Correo:</b>nicopavongomez@gmail.com</p>
    </div>
</div>
{% endblock %}

